<div class="container">

    <div id="main-div" class="row">
        <div id="options-column" class="col-sm-3">
            <div class="column-content" ng-include="controlsMenuTemplate"></div>
        </div>
        <div id="grid-column" class="col-sm-6">
            <!--<div ng-repeat="row in tiles">-->
                <!--<div ng-repeat="column in row">-->
                    <!--blah-->
                <!--</div>-->
                <!--<br>-->
            <!--</div>-->

            <div ng-repeat="row in garden.data.tiles">
                <!--ro: {{row}}-->

                <div ng-repeat="column in row">
                    <!--col: {{column}}-->
                    <div class="row col-sm-2">
                        <plant-unit name="column[0].plant.name" img="getImgPath(column[0].plant.name)"></plant-unit>
                    </div>
                </div>
                <br>
            </div>
            <!--<plant-unit name="garden.data.tiles[0][0][0].plant.name" img="getImgPath(garden.data.tiles[0][0][0].plant.name)"></plant-unit>-->
        </div>
        <div id="info-column" class="col-sm-3">

        </div>
    </div>
</div>
