<div class="container">

    <div id="main-div" class="row">
        <div id="options-column" class="col-sm-3">
            <div class="column-content" ng-include="controlsMenuTemplate"></div>
        </div>
        <div id="grid-column" class="col-sm-6">
          <div class="garden-grid" ng-include="gardenGridTemplate"></div>
            <plant-unit name="garden.data.tiles[0][0][0].plant.name" img="getImgPath(garden.data.tiles[0][0][0].plant.name)"></plant-unit>
        </div>
        <div id="info-column" class="col-sm-3">

        </div>
    </div>
</div>
