

<div class="plant-tile" uib-popover="{{detailPopoverContent}}" popover-trigger="'mouseenter'" popover-placement="left">
    <img ng-src="{{imgpath}}" width="80%" height="80%" style="display: block; margin-left: auto; margin-right: auto;">

    <div id="glyphy-holder">
        <span class="glyphicon glyphicon-transfer" aria-hidden="true" ng-show="change" ng-click="changeClicked()"></span>
        <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="confirm" ng-click="confirmClicked()"></span>
        <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-show="abort"></span>
        <span class="glyphicon glyphicon-cutlery" aria-hidden="true" ng-show="yield"></span>
        <span class="glyphicon glyphicon-leaf" aria-hidden="true" ng-show="seed" ng-click="seedClicked()"></span>
    </div>

    <uib-progressbar ng-show="progressBar" value="progress" style="width: 80%; display: block; margin-left: auto; margin-right: auto;"></uib-progressbar>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Choose a plant you want to grow instead</h3>
    </div>
    <div class="modal-body" id="modal-body">

            <div ng-repeat="item in $ctrl.items">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>{{item.name}}</h4>
                        <img ng-src="{{getImgPath(item.name)}}" width="70%" style="display: block; margin-left: auto; margin-right: auto;" ng-click="$event.preventDefault(); $ctrl.selected.item = item; $ctrl.ok()">
                    </div>
                </div>
            </div>
    </div>
</script>
