<div>
    <h1 style="">garden.io</h1>
    <uib-tabset active="active" justified="true">
        <uib-tab index="0" heading="Garden Profile">
            <div class="content-of-tab">
                <div class="col-sm-6">
                    Name:<br>
                    Location:<br>
                    Lenght (m):<br>
                    Width (m):<br>
                </div>
                <div class="col-sm-6">
                    Eden<br>
                    Zurich<br>
                    {{garden.data.size.height}}<br>
                    {{garden.data.size.width}}<br>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Plants">
            <div class="content-of-tab">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Basic panel example
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

    <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="dt" is-open="datepopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </p>

    {{dt | date: 'dd-MM-yyyy'}}

</div>